@import url("reset.css");
@import url("header.css");
@import url("nav.css");
@import url("footer.css");

main {
	background-color: #1A462A;
	padding: 0.8em 4em;
}

main .welcome-cont {
	display: flex;
	align-items: center;
	gap: 23em;
}

main .welcome-cont .head-content * {
	text-align: center;
	color: #BAD7B6;
}

main .welcome-cont .head-content h1 {
	font-size 3.4em;
}

main .welcome-cont .head-content h2 {
	font-size 2.6em;
	font-weight: 300;
}

main .head-content {
	position: relative;
	left: 3.5em;
}

section .category-cont {
	width: 100%;
	background-color: #BAD7B6;
}

section .category-cont p.cat {
	text-align: center;
	padding: 1em;
	font-size: 2.4em;
	font-size: 900;
}

section .category-cont .container {
	background-color: red;
	width: 12em;
	height: 12em;
}

section .category-cont .sub-container {
	display: flex;
	justify-content: center;
	padding-bottom: 3em;
	gap: 4em;
}

section .category-cont .sub-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section .category-cont .sub-container .container {
	border: 6px solid #48A93C;
	border-radius: 6px;
	margin-top: 1em;
}

section .category-cont .sub-container .flora {
	font-size: 1.2em;
	font-weight: 700;
}

section .category-cont .sub-container a:hover {
	opacity: 0.6;
}
