@import url("reset.css");
@import url("header.css");
@import url("nav.css");
@import url("footer.css");

/* MAIN START*/


main section.advert {
	background-color: #DB8ADA;
}

main section.advert p {
	text-align: center;
	font-size: 1.2em;
	padding: 0.5em 0em;
	color: #5E2162;
	font-weight: 700;
}

main .main-content {
	height: 50em;
	background: url("/media/image.png");
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .main-content .head-button {
	margin-top: 2.5em;
}

main .main-content .head-button h1, 
main .main-content .head-button h2,
main .main-content .head-button h2 {
	text-align: center;
	color: #093318;
}

main .main-content .head-button h1 {
	font-size: 3.4em;
}

main .main-content .head-button h2 {
	font-weight: 300;
	font-size: 2em;
}

main .main-content .head-button h2:last-of-type {
	margin-bottom: 1.5em;
}

main .main-content .head-button a {
	font-size: 1.2em;
	display: block;
	width: 50%;
	margin: auto; 
	text-align: center;
	text-decoration: none;
	color: #093318;
	background-color: #FFA200;
	padding: 0.8em 0em;
	border-radius: 5px;
	border: 1px solid #694A08;
}

main .main-content .head-button a:hover {
	text-decoration: underline;
}
/* MAIN END*/
